@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


/* Viewport Image */

.full-screen {
  background-image: url(https://s15.postimg.org/4s879tax7/vampire_4_wallpaper_1440x900.jpg);
}

.parallax-fixed {
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 100%;
  background-repeat: no-repeat;
}

.full-screen {
  height: 100vh;
  width: 100%;
}

.small-section {
  position: relative;
  padding: 60px 0px;
  overflow: hidden;
}

.table {
  display: table;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 20%;

  img {
    width: 100%;
  }
}
/* 2 columns */
//.grid-item--width2 { width: 40%; }

body {
  background-color: #141414 ;
}

.navbar {
  margin-bottom: 0px;
}

.masonry-container-books div[class*="col"], .masonry-container-blogs div[class*="col"] {
  padding: 0 10px;
}


.thumbnail:not(.blogs) {
  background-color: #141414;;
  margin-bottom: 0;
  border: none;
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  overflow: hidden;


  .grid-item--width2 & {
    img {
      width: 320px;
      height: 240px;
    }
  }

  &:hover .caption {
    transform: translateY(10px);
  }

  .caption {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.35s;
  }

  img {
    width: 400px;
    height: 300px;
  }
}

.thumbnail {
  background-color: #141414;;
  margin-bottom: 0;
  border: none;
  position: relative;
  padding: 0;
  margin-bottom: 20px;
}

.test {
  background-color: white;
}

.navbar-default {
  background-color: #141414;
  border-color: black;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

.blog-body, p, a {
  color: #BBBBBB;
}

h1, h2, h3, h4 {
  text-align: center;
  color: #BBBBBB;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-brand {
  color: #BBBBBB;
}

.authorBio {
  h1, p {
    text-align: left;
    max-width: 500px;
  }
}

.profilePic {
  float: right;
  position: relative;
  border: 1px solid black;
  overflow: hidden;
  padding: 125px;
  width: auto;
  max-width: 250px;
  background: url(https://scontent-atl3-1.xx.fbcdn.net/v/t1.0-9/14333588_10210460018275246_8415783847713780074_n.jpg?oh=2a02b175981c63630d6fe71c5a4b9ca7&oe=58609546);
  background-position: 0px 0px, center;
  margin: 0 auto;
  background-size: 100%;
}

section {
  margin-bottom: 40px;
}

span.glyphicon {
  font-size: 3em;
  color: #BBBBBB;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

.footer {
  background-color: #141414;
  position: relative;
  padding-top: 100px;
  padding-bottom: 60px;
}

.social-links {
  a {
    padding: 0 10px;
  }
}

.btn-scroll-down:before {
  bottom: 20px;
  width: 60px;
  height: 60px;
}

.btn-scroll-down:before, .btn-scroll-down:after {
  content: '';
  display: block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.btn-scroll-down:after {
  width: 30px;
  height: 30px;
  bottom: 35px;
  -webkit-animation: sc-down-a 0.3s infinite alternate;
  animation: sc-down-a 0.3s infinite alternate;
}

.btn-scroll-down:before, .btn-scroll-down:after {
  content: '';
  display: block;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.btn-scroll-down {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.btn-scroll-down:after {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform:  rotate(45deg) translateY(0); }
  100% { transform: rotate(45deg) translate(-5px, -5px); }
}
@keyframes mover {
  0% { transform:  rotate(45deg) translateY(0); }
  100% { transform:  rotate(45deg) translate(-5px, -5px); }
}

.nav-pills {
  margin-bottom: 10px;
}

.nav-pills > li.active > a {
  background-color: #141414;
  color: #BBBBBB;
  border: 2px solid #DDDDDD;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,  {
  color :#BBBBBB;
  background-color: #141414;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #a50606;
}



h1,h2,h3,h4a,p,div,section {
  font-family: 'Open Sans', sans-serif;
}

.thumbnail {
  a:hover{
    text-decoration: none;

    h3, p {
      color: #a50606;
    }
  }
}

.modal-content {
  background-color: #141414;

  .input-group {
    margin-bottom: 20px;
  }

  textarea {
    height: 100px;
  }
}

.blog-spacer {
  margin-top: 50px;
}

.thumbnail img {
  max-width: 100%;

  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.thumbnail:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


